*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --background-box: rgba(0, 0, 0, 0.274);
}

html {
    font-family: sans-serif;
}

/* Gradient background */
/* https://codepen.io/alvarotrigo/pen/dyzgOER?editors=1100 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-size: 200% 200%;
    background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
    );
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

.scoreboard-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.scoreboard {
    border: 2px solid whitesmoke;
    background-color: var(--background-box);
    border-radius: 18px;
    padding: .75rem;
    color: whitesmoke;
    width: fit-content;
    height: fit-content;
    font-size: 3rem;
}

.tools {
    flex: 1;
    display: flex;
}

.tool {
    border: 2px solid whitesmoke;
    border-radius: 25%;
    background-color: var(--background-box);
    width: 100px;
    height: 100px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 2rem;
    transition: all .2s ease-in-out;
}

.tool:hover {
    transform: scale(1.1);
    background-color: #2e2c9a ; 
}

.selected {
    animation: blinker .2s linear 2;
}

@keyframes blinker {
    50% {
        background-color: rgb(173, 107, 184);
    }
}

.choices {
    flex: 1;
    display: flex;
    background-color: mistyrose;
    gap: 100px;
}

.choices > div {
    border: 2px solid blue;
    width: 100px;
    height: 100px;
}
